.cars {
    margin-bottom: 100px;

    &__title {
		margin-bottom: 60px;
        max-width: 660px;
        width: 100%;
	}

    &__list {
        position: relative;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__bg {
        position: absolute;
        z-index: -1;
        left: 200px;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__image {
        margin-right: 30px;
        width: 50px;

        img {
            width: 100%;
        }
    }

    &__text {
        width: 190px;
    }
}

@media (max-width: 900px) {
    .cars {
        border-bottom: 1px solid rgba(0,0,0, 0.3);
        margin-bottom: 10px;
    }

    .cars__list {
        align-items: center;
        justify-content: flex-start;
        height: 450px;
    }

    .cars__title {
		margin-bottom: 30px;
	}

    .cars__bg {
        left: 6%;
        top: 200px;
        width: 80%;
    } 
}

@media (max-width: 500px) {
    .cars__bg {
        left: 0%;
        width: 100%;
    }
}