.net-export {

	&__title {
		max-width: 770px;

	}

	&__info {
		max-width: 620px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__img {

		background: url(../src/assets/images/net-export_1.jpg) -110px -110px;
		width: 700px;
		height: 400px;
	}

	&__text {
		font-size: 22px;
		line-height: 1.6;
		text-align: center;

		@media (max-width: 600px) {
			font-size: 16px;
		}

		@media (max-width: 420px) {
			font-size: 14px;
		}

	}

	&__wrapper {
		background: url('../src/assets/images/net-export_bg.jpg') 50% 50% no-repeat;
		padding: 260px 0 0 0;
		height: 280px;

		@media (max-width: 1200px) {
			background: #f3f3f3;
			padding: 100px 0 0 0;

		}

		@media (max-width: 600px) {
			background: none;
			padding: 0;
			margin-top: 30px;

		}



		.container {
			@media (max-width: 1200px) {
				display: flex;
			}
		}
	}

	&__note-box {
		display: flex;
		align-items: center;
		margin: 0 auto;
		height: 200px;

		@media (max-width: 1200px) {
			margin: 0 auto;
		}

		@media (max-width: 600px) {
			background: #f3f3f3;
			padding: 10px 30px;
			border-radius: 10px;
			text-align: center;
		}
	}

	&__note-img {
		width: 350px;
		margin-right: 40px;
		margin-left: -100px;

		@media (max-width: 600px) {
			display: none;
		}

	}

	&__note {
		max-width: 250px;
		line-height: 1.5;
	}
}