@font-face {
	font-family: 'CirceRegular';
	src: url('');
	src: url('../assets/fonts/CirceRegular.woff2') format('woff2'),
		url('../assets/fonts/CirceRegular.woff') format('woff'),
		url('../assets/fonts/CirceRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'CirceLight';
	src: url('');
	src: url('../assets/fonts/Circe-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}